/.metadata/

.git/*
*.project
*.settings
*.pmd
*target
*.classpath

target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.ids
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

RemoteSystemsTempFiles/
Servers/
.recommenders

##### React ######
.vscode/*
yarn.lock
node_modules
newrelic_agent.log
.idea
build
dist
build/bundle.js
server.bundle.js
npm-debug.log
app/tests/mocks/server.bundle.test.js
.tmp/*
coverage/
.nyc_output/
.scannerwork/

